<h1>**********New Game**********</h1>

<p class="random-letters"><%= @array.join(' ') %></p>
<hr>

<form action="/score" method="POST" data-turbo="false">
  <input class="ask-input"type="text" name="word" placeholder="Type your word here">
  <div class="d-none">
  <input type="text" name="letters" value="<%= @array.join('') %>">
  </div>
  <input class="button" type="submit" value="Play">
<%= hidden_field_tag :authenticity_token, form_authenticity_token %>
</form>
